*{
  margin:0;
  padding:0;
}
body{
  background:linear-gradient(#200016,#10001f);
  height:100vh;
  font-family:system-ui;
}
a{
  text-decoration:none;
  color:#fff
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
header.logo{
  font-size:30px;
  text-transform:uppercase;
  }
header ul{
  display:flex;
  justify-content: center;
  align-items: center;
  list-style:none;
  }
header ul li{
  margin-right:30px;
}
header ul li a{
  padding:6px 20px;
}
header ul li a:hover{
  background:#ff007b;
  color:#000;
}
.spriggan{
  color:#000000;
  font-size:30px;
  transform: translateY(-200px);
}
.content{
  color:#fff;
  padding:30px;
}
.content p{
  margin:20px;
}












